repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: name-tests-test
    args: ['--pytest-test-first']
- repo: https://github.com/psf/black
  rev: 26.1.0
  hooks:
  - id: black
- repo: https://github.com/crate-ci/typos
  rev: v1.43.1
  hooks:
  - id: typos
- repo: https://github.com/thlorenz/doctoc
  rev: v2.2.0
  hooks:
  - id: doctoc
    args: ['--maxlevel', '3', '--notitle']
